<!DOCTYPE html>
<html lang="en">
<head>
    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
      input[type="file"] {
        display: block;
        }
        .imageThumb {
          max-height: 75px;
          border: 2px solid;
          padding: 1px;
          cursor: pointer;
        }
        .pip {
          display: inline-block;
          margin: 10px 10px 0 0;
        }
        .remove {
          display: block;
          background: #444;
          border: 1px solid black;
          color: white;
          text-align: center;
          cursor: pointer;
        }
        .remove:hover {
          background: white;
          color: black;
        }
    </style>
    
</head>
<body>
    <form action="">
        <div>
            <label>Title</label> 
            <input type="text" id="title" name="title" style="margin-left: 70px">     
        </div>
        <div>
            <label>Hashtag</label>
            <input type="text" id="hashtag" name="hashtag" style="margin-left: 38px">
        </div>
        <div>
            <label>Location</label>
            <input type="text" id="location" name="location" style="margin-left: 35px">
        </div>
        <div>
            <label>Time</label>
            <input type="date" id="time" name="time" style="margin-left: 66px">
        </div>
    </form>
    <textarea rows="6" cols="70" maxlength="1000" id="description">
    </textarea>
    <div class="field" align="left">
      <h3>Upload your images</h3>
      <input type="file" id="files" name="files[]" multiple />
    </div>

    <button id="post-btn">Post</button>
    <button id="login-btn">Login</button>
    <button id="logout-btn">Logout</button>
</body>

<script type="text/javascript">
    $(document).ready(function() {
        if (window.File && window.FileList && window.FileReader) {
            $("#files").on("change", function(e) {
            var files = e.target.files,
            filesLength = files.length;
            for (var i = 0; i < filesLength; i++) {
                var f = files[i]
                var fileReader = new FileReader();
                fileReader.onload = (function(e) {
                    var file = e.target;
                    $("<span class=\"pip\">" +
                    "<img class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
                    "<br/><span class=\"remove\">Remove image</span>" +
                    "</span>").insertAfter("#files");
                    $(".remove").click(function(){
                    $(this).parent(".pip").remove();
                });
              
            });
            fileReader.readAsDataURL(f);
          }
            });
        } else {
            alert("Your browser doesn't support to File API")
        }
        var title = $("#title").val();
        var location = $("#location").val();
        var time = $("#time").val();
        var description = $("#description").val();
        var hashtag = $("#hashtag").val();
        $("#post-btn").click(function post(argument) {
            var formData = new FormData();
            $.each($("#files")[0].files, function(i, file) {
                console.log('vv', file)
                formData.append("file", file);
            });
            
            formData.append('title', title);
            formData.append('hashtag', hashtag);
            formData.append('location', location);
            formData.append('time', time);
            formData.append('description', description);
            formData.append('username', 'vta1');
            $.ajaxSetup({
                xhrFields: {
                    withCredentials: true
                }
            });
            $.ajax({
                url: "http://localhost:8000/social_app/api/admin/upload",
                type:"POST",
                processData:false,
                contentType: false,
                crossDomain: true,
                credentials: 'same-origin',
                data: formData,
                    complete: function(data){
                                alert("success");
                        }
            });
        });
        $("#login-btn").click(function login(argument) {

            var data2={
                    "username": "vta1",
                    "password": "vta1234"
                };

            $.ajax({
                url: "http://localhost:8000/social_app/api/admin/login",
                type:"POST",
                contentType: "application/json; charset=UTF-8",
                crossDomain: true,
                data: JSON.stringify(data2),
                success: function(output, status, xhr){
                            alert(xhr.getResponseHeader('Set-Cookie'));
                            console.log("data", output);
                            console.log(document.cookie);
                    }
            });
        });
        $("#logout-btn").click(function login(argument) {

            $.ajaxSetup({
                xhrFields: {
                    withCredentials: true
                }
            });

            $.ajax({
                url: "http://localhost:8000/social_app/api/logout",
                credentials: 'same-origin',
                crossDomain: true,
                complete: function(data2){
                            alert("logout successww");
                    }
            });
        });

    });


</script>

</html>